
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:wght@300..800&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Inter", sans-serif; 
}

body{
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh; 
    background: linear-gradient(#EEEEFF, #F87C63);

}

.chatbot-popup {
    width: 420px;
    background: #fff;
    overflow: hidden; 
    border-radius: 15px; 
    box-shadow: 0 0 128px 0 rgba(0,0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0,0.5);
}

.chat-header {
    display: flex;
    align-items: center; 
    background: #8B0000;
    justify-content: space-between;
    padding: 15px 22px; 
}

.chat-header .header-info {
    display: flex; 
    gap: 10px; 
    align-items: center;
}

/* Logo TBD */
.header-info .chatbot-logo {
    width: 40px;
    height: 40px;
    padding: 6px;
    background: #fff; 
    border-radius: 50%;  
}

/* Logo text TBD */
.header-info .logo-text {
    font-size: 18px; 
    font-weight: 600; 
    color: #fff; 
}

.chat-header #close-chatbot {
    font-size: 28px; 
    color: #fff; 
    height: 40px; 
    width: 40px;
    border-radius: 50%;
    font-size: 1.9rem; 
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer; 
    background: none; 
    border: none; 
    transition: 0.2 ease;
}
 
.chat-header #close-chatbot:hover {
    background: darkgoldenrod; 

}

.chat-body {
    padding: 25px 22px;
    display: flex; 
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;  
    overflow-y: auto;
    flex-direction: column; 
}

.chat-footer {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    padding: 15px 22px; 
    background: #f5f5f5; 
    display: flex; 
    align-items: center; 
    gap: 15px; 
}
